// -----------------------------------------------------------------------------
// Sizes
// -----------------------------------------------------------------------------
// Foundation sizing values.
// Defines reusable global size constraints without semantic meaning.
// -----------------------------------------------------------------------------

$container-sizes: (
    s: 48rem,
    m: 64rem,
    l: 80rem,
    xl: 90rem,
);
