@use "../abstracts" as *;

.wrapper {
    --_wrapper-max-width: var(--wrapper-max-width, #{$wrapper-max-width});
    --_wrapper-padding-inline: var(
        --wrapper-padding-inline,
        #{$wrapper-gap-width}
    );

    width: min(
        var(--_wrapper-max-width),
        (100% - (var(--_wrapper-padding-inline) * 2))
    );
    margin-inline: auto;
}
