@use "colors" as *;

// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------

$body-foreground: var(--text-primary);
$body-background: var(--surface-1);
$body-font-family: var(--ff-body);
$body-font-size: var(--fs-0);
$body-font-weight: var(--fw-regular);
$body-line-height: 1.6;

// -----------------------------------------------------------------------------
// Wrapper
// -----------------------------------------------------------------------------

$wrapper-max-width: 1520px; //84rem;
$wrapper-gap-width: 5dvw;

// -----------------------------------------------------------------------------
// Hamburger
// -----------------------------------------------------------------------------

$hamburger-background: transparent;
$hamburger-padding: var(--space-2xs);
$hamburger-animation-timing: 200ms ease-in-out;
$hamburger-border: none;
$hamburger-border-radius: 0.125rem;

$hamburger-bar-color: var(--neutral-950);
$hamburger-bar-width: 36px;
$hamburger-bar-height: 6px;
$hamburger-bar-gap: 4px;

// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------

$button-font-size: var(--fs--1);
$button-font-weight: var(--fw-medium);

$button-foreground: var(--neutral-50);
$button-foreground-hover: var(--neutral-50);
$button-background: var(--neutral-800);
$button-background-hover: var(--neutral-950);

$button-padding: 0.75rem 1.5rem;

$button-border-width: 2px;
$button-border-style: solid;
$button-border-color: var(--button-border-color, transparent);
$button-border-radius: var(--radius-m);

// Variants
$button-primary-foreground: var(--primary-0);
$button-primary-foreground-hover: var(--primary-0);
$button-primary-background: var(--primary-500);
$button-primary-background-hover: var(--primary-600);

$button-accent-foreground: var(--accent-0);
$button-accent-foreground-hover: var(--accent-0);
$button-accent-background: var(--accent-500);
$button-accent-background-hover: var(--accent-600);
