// -----------------------------------------------------------------------------
// Font Family
// -----------------------------------------------------------------------------

$-ff-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
$-ff-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$-ff-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

$font-families: (
    "base": $-ff-sans,
    "serif": $-ff-serif,
    "code": $-ff-mono,
);

// -----------------------------------------------------------------------------
// Font Sizes
// -----------------------------------------------------------------------------
// https://utopia.fyi/type/calculator?c=360,18,1.2,1520,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12

$font-sizes: (
    "-2": clamp(0.7035rem, 0.8054rem + -0.1073vw, 0.7813rem),
    "-1": clamp(0.9375rem, 0.9374rem + 0.0003vw, 0.9377rem),
    "0": clamp(1.125rem, 1.0862rem + 0.1724vw, 1.25rem),
    "1": clamp(1.35rem, 1.2519rem + 0.4362vw, 1.6663rem),
    "2": clamp(1.62rem, 1.4334rem + 0.8291vw, 2.2211rem),
    "3": clamp(1.944rem, 1.6285rem + 1.4024vw, 2.9607rem),
    "4": clamp(2.3328rem, 1.8319rem + 2.226vw, 3.9467rem),
    "5": clamp(2.7994rem, 2.0354rem + 3.3952vw, 5.2609rem),
    "6": clamp(3.3592rem, 2.2254rem + 5.0394vw, 7.0128rem),
);

// -----------------------------------------------------------------------------
// Font Weight
// -----------------------------------------------------------------------------

$font-weights: (
    "thin": 100,
    "extralight": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "black": 900,
);
